.customerSignupContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
}
.customerSignupContainerinner {
  /* padding: 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.customerContainerLeft {
  display: flex;
  /* margin-top: 40px; */
  background-color: aqua;
}

.customerContainerRight {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 90px;
}

customerSignupContainer > label {
  color: black;
}
